<html>
<head>
</head>
<body>
<H1>Přehled dokumentů

    <table border = 1>
        <thead>
            <td>When</td>
            <td>From</td>
            <td>Subject</td>
            <td>Filename</td>
        </thead>

        {% for row in rows %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td> {{ row[2]}}</td>
                <td><a href="{{row[4]}}">{{row[3]}}</td>	
            </tr>
        {% endfor %}
        </table>
</body>
</html>